SUPABASE_HOST=aws-0-ap-southeast-2.pooler.supabase.com
SUPABASE_PORT=6543
SUPABASE_USER=postgres.oblectpxtfsdelyjoipo
SUPABASE_PASS=your_supabase_password_here
SUPABASE_DB=postgres
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=openai/gpt-oss-120b
